@import url('https://fonts.googleapis.com/css2?family=Recursive:wght@300;400;500;600;700&display=swap');
*{
    font-family: 'Recursive', sans-serif !important;
}
body {
    background-color: #FB6B6B;
}
.content{
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    width: 100%;
    height: 100%;

    margin-bottom: 171px;
}
.button {

    width: 246px;
    height: 54px;

    display: flex;
    align-items: center;
    justify-content: center;

    color: #D70900;
    font-size: 18px;

    border: 1px solid #D70900;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    background-color: white;
}
.tittle {
    font-size: 36px;
    font-weight: bold;
    color: white;
    margin: 13px 0 30px 0;
}
.menu{ 
    width: 255px;
    display: flex;
    justify-content: center;
    margin: 30px;
}
.menu img{ 
    width: 52px;
    height: 60px;
    margin-right: 20px;
}
.quest{

    width: 300px;
    height: 65px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;

    margin-bottom: 25px;
    background-color: white;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    flex-wrap: wrap;

}
.quest ion-icon{ 
    color: #333333;
    font-size: 21px;
    margin-right: 15px;
}
.quest span{
    color: #333333;
    font-size: 16px;
    font-weight: 700;
    margin-left: 15px;
    
}
.ask{
    width: 300px;
    height: 65px;

    display: flex;
    margin-bottom: 25px;
    background-color: white;
    box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    position: relative;
    flex-wrap: wrap;
       
}
.ask ion-icon {
    color: #333333;
    font-size: 21px;
    
    position: absolute;
    right: 3vw;
    bottom: 2vw;
}
.ask span {
    width: 280px;

    color: #333333;
    font-size: 16px;
    font-weight: 700;
    margin-top: 15px;
    margin-left: 15px;
}

.containerPontos{

    width: 300px;
    height: 37px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}
.naoLembrei, .quaseLebrei, .Lembrei {

    width: 87px;
    height: 100%;
    border-radius: 5px;
    color: white;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    font-size: 12px;
    
}
.naoLembrei{
    background-color: #FF3030;
}
.quaseLebrei{
    background-color: #FF922E;
}
.Lembrei{
    background-color: #2FBE34;
}
.vermelho span, .vermelho ion-icon{
    color: #FF3030;
    text-decoration: line-through;
}
.amarelo span, .amarelo ion-icon{
    color: #FF922E;
    text-decoration: line-through;
}
.verde span, .verde ion-icon{
    color: #2FBE34;
    text-decoration: line-through;
}
.containerResultado{

    width: 100%;
    height: 70px;
    background-color: white;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    position: fixed;
    bottom: 0;
}
.containerResultado h3{
    font-weight: 700;
    font-size: 18px;
    color: #333333;
}
.containerResultado span{
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    color: #333333;
    margin-bottom: 8px;

}
.containerResultado .close-circle{  

    color: #D70900;
    font-size: 23px;
    flex-direction: row;
}
.containerResultado .help-circle{  

    color: #FF922E;
    font-size: 23px;
}
.containerResultado .checkmark-circle{

    color: #2FBE34;
    font-size: 23px;
}
.tapped {

    height: 131px;
    background-color: #FFFFD5;
    font-size: 18px;
    
}
.tapped span{
    margin-top: 15px;
    font-weight: 400;
}
.finalização{
    height: 171px;
    justify-content: flex-start;
}
.finalização h3{
    margin: 25px 0 16px 0;
}
.finalização span{
    margin-bottom: 8px;
}
.container-icon{
    display: flex;
}